<% if @project.errors.any? %>
  <h2>Errors</h2>
  <ul>
    <% @project.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<h1>Add your project</h1>
<%= form_for @project do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>
  <div>
    <%= f.label :github_repo %>
    <%= f.url_field :github_url, required: true %>
  </div>
  <div>
    <%= f.label :heroku_url %>
    <%= f.url_field :heroku_url, required: true %>
  </div>
  <%= f.submit class: "btn btn-success" %>
<% end %>
