<h1><%= @project_analyser.project.name %></h1>
<div class="github-url">
  Github Url: <%= link_to "Github", @project_analyser.project.github_url %>
</div>
<div class="heroku-url">
  Heroku Url: <%= link_to "Heroku", @project_analyser.project.heroku_url %>
</div>

<div class="row">
  <div class="col-xs-6">
    <h3>Commit Ratios</h3>
    <%= pie_chart @project_analyser.commit_ratios %>
  </div>
  <div class="col-xs-6">
    <h3>Commit Frequency</h3>
    <%= line_chart @project_analyser.overall_commit_frequency %>
  </div>
</div>
<div class="row">
  <h3>Rails Best Practices</h3>
  <%= render partial: 'analyzers/best_practice', collection: @project_analyser.best_practices %>
</div>
<div class="row">
  <h3>Smells</h3>
    <%= render partial: 'analyzers/criticism', collection: @project_analyser.criticisms %>
  </ul>
</div>
