<!DOCTYPE html>
<html>
<head>
  <title>ProjectTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <h1><%= link_to "Project Mode", root_path %></h1>
  <div class="row">
    <% if logged_in? %>
      <%= current_hacker.name %>
    <% end %>
  </div>
    <%= yield %>
  </div>
</body>
</html>
